services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: chessopenings
    ports:
      - '5432:5432'
    volumes:
      - db-data:/var/lib/postgresql/data
  web:
    build: .
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/chessopenings?schema=public
      NODE_ENV: production
    depends_on:
      - db
    ports:
      - '3000:3000'
    command: sh -c "npx prisma db push && npx prisma db seed && npm run start"
volumes:
  db-data:
